h1 {
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file-content {
    width: 500px;
    height: 400px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    max-width: 300px;
  }



.new-file-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.new-file-button:hover {
    background-color: #32cd32;
}

.file-input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.file-input-label {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.file-input-label:hover {
    background-color: #0056b3;
}

.file-input {
    visibility: hidden;
    width: 0;
    height: 0;
}